configuration {
    modi: "run,combi,drun";
    combi-modi: "drun,run";
    show-icons: true;
    terminal: "terminator";
    sidebar-mode: true;
    theme: ".config/rofi/slate";
    //levenshtein-sort: true;
    sort: true;
}
