configuration {
    modi: "run,combi,drun";
    combi-modi: "drun,run";
    show-icons: true;
    terminal: "alacritty";
    sidebar-mode: true;
    //levenshtein-sort: true;
    sort: true;
}
@theme "slate"
